@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import '../scss/colors';

body {
    background-image: url(../../img/bg-signup.png);
    background-position: top;
    background-repeat: no-repeat;
}

.section_title {
    font-weight: 900;
    font-size: 29px;
    line-height: 36px;
    color: $white;
    font-style: normal;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        margin-top: 20px;

        h1 {
            font-weight: 900;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            margin-bottom: 12px;

        }

        h2 {

            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin-bottom: 32px;
        }
    }

    &-cards {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 1110px) {
            flex-direction: column;
            align-items: center;
        }
        .card {
            width: 502px;
            height: 250px;
            border-radius: 12px;
            position: relative;
            padding: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media only screen and (max-width: 1110px) {
                margin-bottom: 20px;

            }
            @media only screen and (max-width: 600px) {
                width: 400px;
                
            }
            @media only screen and (max-width: 460px) {
                width: 300px;
                
            }
           

            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__tariff {
                    h2 {
                        font-weight: 900;
                        font-size: 30px;
                        line-height: 36px;
                    }
                }

                &__price {
                    p {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: $white;
                    }
                }
            }

            &-text {
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: $white;
                    font-weight: 500;
                }
            }

            &-btn {
                display: flex;
                justify-content: flex-end;
                .choose_btn {
                    width: 93px;
                    height: 40px;
                    background: $yellow;
                    border-radius: 12px;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 22px;
                    color: $white;
                    border: none;
                    &:hover {
                        transform: scale(1.1);
                        color: #D9D9D9;
                        transition: all 1s;
                        
                    }
                }
            }

            &:first-child {
                background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
                margin-right: 35px;
                @media only screen and (max-width: 1110px) {
                    margin-right: 0;
                }
            }

            &:last-child {
                background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
                border: 1px solid rgba(0, 89, 193, 0.5);

                .ok {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                }


            }

        }

    }

    &-form {
        max-width: 733px;
        height: 316px;
        margin-top: 32px;
        @media only screen and (max-width: 760px) {
            padding: 0 30px;
        }

        &__heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $white;
            text-align: center;
            margin-bottom: 24px;
        }

        &__main {
            .form {
                padding-bottom: 55px;

                input {
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid #D9D9D9;
                    color: $white;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    padding-bottom: 12px;
                    margin-bottom: 24px;

                }

                input:focus {
                    outline: none;
                    border-bottom: 2px solid $yellow;

                }

                input[name='firstname'] {
                    width: 350px;
                    margin-right: 29px;
                }

                input[name='lastname'] {
                    width: 350px;
                }

                input[name='email'] {
                    width: 100%;
                }

                input[name='password'] {
                    width: 100%;
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    

                    .custom-checkbox {
                        box-sizing: content-box;
                        background: transparent;
                        border: 1px solid #D9D9D9;
                        border-radius: 4px;
                        margin-right: 15px;
                        // padding: 20px 20px 0 0;
                        padding: 2px 4px;
                        height: 17px;
                        width: 17px;
                        position: relative;
                    }
                    .custom-checkbox.checked {
                        background: #0059C1;
                        
                        &::after {
                            content: '\2713';
                            position: absolute;
                            color: white;
                            top: -1px;
                            left: 4px;

                        }
                    }

                    p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;


                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                .create-btn {
                    width: 100%;
                    height: 40px;
                    background: #0059C1;
                    border-radius: 12px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: $white;
                    border: none;
                    margin: 32px 0 16px;
                    &:hover {
                        background-color: $second;
                        transition: all 1.2s;
                        color: $black;
                        transform: scale(1.01);
                    }

                }

                p {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;

                    color: $white;

                    a {
                        text-decoration: underline;
                        color: $yellow;
                    }
                }
                @media only screen and (max-width: 760px) {
                    input[name='firstname'],input[name='lastname']  {
                        width: 100%;
                    }
    
                    
                }
            }
        }
    }
}

input:-internal-autofill-selected {
    background-color: transparent;
}