.faq {
	.container {
		.section_title {
			@include sectionTitle;
			@media only screen and (max-width: 767px) {
				margin: 15px 0 15px 5px;
			}
		}
	}
}

details {
	color: $white;
	background: #21212C;
	margin-bottom: 10px;
	border-radius: 6px;
	@media only screen and (max-width: 767px) {
		margin: 5px;
	}
	summary {
		background: #1B1B24;
		border-radius: 6px;
		min-height: 52px;
    text-align: start;
    line-height: 3;
    padding: 0 24px;
		position: relative;
		&::after {
			content: '\002B';
			position: absolute;
			top: 50%;
			right: 20px;
			font-size: 25px;
			transform: translate(-50%, -50%);
			color: $pink;
			

		}
		&::marker{
		font-size: 0;
		}
	}
	div {
		min-height: 52px;
		text-align: start;
    line-height: 21px;
    padding: 14px 24px;
		color: #B7B6DE;
		border-radius: 0px 0px 6px 6px;
	}
}

details[open] {
	summary {
		border-radius: 6px 6px 0px 0px;
		&::after{
			content: '\2212';
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translate(-50%, -50%);
		}
	}
}