.container {
	position: relative;
	@media only screen and (max-width: 767px) {
		margin: auto 11px;
	}

	.arrow {
		position: absolute;
		top: 50%;
		right: -40px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.film_list-title {
	margin-top: 20px;

	h2 {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 900;
		font-size: 32px;
		line-height: 38px;
		@media only screen and (max-width: 767px) {
			font-size: 24px;
			line-height: 29px;
			}
	}

}

.movies-sec {
	margin-top: 50px;
	@media only screen and (max-width: 767px) {
		margin-top: 15px;
	}
}

.cartoons-sec {
	margin-top: 46px;
	@media only screen and (max-width: 767px) {
		display: none;
	}
}

.film_list {
	justify-content: flex-start;
	margin-top: 24px;
	position: relative;
	@media only screen and (max-width: 767px) {
		margin-top: 16px;
	}

	.film_card {
		margin-left: 0;
		justify-content: flex-start;
	}
}